{% load static %}
<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">

<head>
    <meta charset="utf-8">
    <title>Abhijit</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
</head>

<body id="top">

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <div class="s-pagewrap">
        <div class="circles">
            <span></span><span></span><span></span><span></span><span></span>
        </div>

        <!-- Site Header -->
        <header class="s-header">
            <div class="header-mobile">
                <span class="mobile-home-link"><a href="{% url 'home' %}">Abhijit.</a></span>
                <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
            </div>

            <div class="row wide main-nav-wrap">
                <nav class="column lg-12 main-nav">
                    <ul>
                        <li><a href="{% url 'home' %}" class="home-link">Abhijit.</a></li>
                        <li class="current"><a href="#intro" class="smoothscroll">Intro</a></li>
                        <li><a href="#about" class="smoothscroll">About</a></li>
                        <li><a href="#works" class="smoothscroll">Works</a></li>
                        <li><a href="#contact" class="smoothscroll">Say Hello</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Main Content -->
        {% block content %}
        {% endblock %}

        <button class="chatbot-toggle">
            <svg class="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                preserveAspectRatio="xMidYMid meet">
                <path d="M2 2v20l4-4h16V2H2zm2 2h16v12H5.17L4 17.17V4z" />
            </svg>
        </button>

        <!-- Chatbot Modal -->
        <div id="chatbotModal" class="chatbot-modal">
            <div class="chatbot-header">
                <h5>Chat with Aether</h5>
                <button class="chatbot-close">
                    <svg class="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                        width="20" height="20">
                        <path
                            d="M18.3 5.71a1 1 0 0 0-1.42 0L12 10.59 7.11 5.7A1 1 0 0 0 5.7 7.11L10.59 12l-4.89 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z" />
                    </svg>
                </button>

            </div>
            <div id="chatWindow" class="chatbot-messages"></div>
            <div class="chatbot-input">
                <input type="text" id="userInput" placeholder="Ask anything..." />
                <button class="chatbot-send">
                    <svg class="chat-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"
                        width="20" height="20">
                        <path d="M2 21l21-9L2 3v7l15 2-15 2v7z" />
                    </svg>
                </button>

            </div>
        </div>


        <!-- Footer -->
        <footer class="s-footer">
            <div class="row">
                <div class="column ss-copyright">
                    <span>© Copyright Abhijit 2021</span>
                    <!-- <span>Design by <a href="https://www.styleshout.com/">StyleShout</a> Distribution By
                        <a href="https://themewagon.com">Themewagon</a></span> -->
                </div>
                <div class="ss-go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill-rule="evenodd"
                            clip-rule="evenodd">
                            <path
                                d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z" />
                        </svg>
                    </a>
                </div>
            </div>
        </footer>
    </div>




    <!-- JavaScript -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/chatbot.js' %}"></script>

</body>

</html>